# Google Cloud Settings
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT="your-gcp-project-id"
GOOGLE_CLOUD_LOCATION="us-central1"

# BigQuery Graph Settings
BIGQUERY_DATASET="your-bigquery-dataset-id"
BIGQUERY_GRAPH_NAME="your-bigquery-graph-name"
BIGQUERY_SEARCH_LABEL=Product
BIGQUERY_EXPAND_HOPS=2
