# Google Cloud Settings
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT="your-gcp-project-id"
GOOGLE_CLOUD_LOCATION="your-gcp-location"

# Google Cloud Spanner configuration
SPANNER_INSTANCE=your-spanner-instance
SPANNER_DATABASE=your-spanner-database

# LLM configuration
GEMINI_API_KEY=your-gemini-api-key
LLM_MODEL_NAME=gemini/gemini-2.5-flash
EMBEDDING_MODEL_NAME=gemini/gemini-embedding-001
EMBEDDING_DIM=3072