# Agent Framework
google-adk==1.27.1
python-dotenv==1.2.2

# LangChain and Vertex AI
langchain==1.2.15
langchain-classic==1.0.3
langchain-community==0.4.1
langchain-core==1.2.26
langchain-google-community[featurestore,bigquery]==3.0.5
langchain-google-vertexai==2.0.27
pandas-gbq>=0.26.1
google-cloud-bigquery==3.29.0

# DEO Optimization
torch>=2.0.0

# For local testing and running
google-auth[pyopenssl]>=2.47.0
